<h2>Bienvenido a {{title}}</h2>
<p>Un lugar único y con ambiente hogareño para pasar tus vacaciones

Atendido por sus dueños, desde hace más de 20 años.

Departamentos cómodos a 2 cuadras de la playa, 3 de las termas y 10 del centro de Colón.</p>