<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <ul><li><a href="./">Home</a></li></ul>
    <ul><li><a href="./nosotros">Nosotros</a></li></ul>
    <ul><li><a href="./departamentos">Departamentos</a></li></ul>
    <ul><li><a href="./galeria">Galeria</a></li></ul>
    <ul><li><a href="./novedades">Novedades</a></li></ul>
    <ul><li><a href="./contacto">Contacto</a></li></ul>
  </nav>
  <body>
    {{{body}}}
  </body>
</html>
