
            <h1>NOVEDADES!</h1>
            
            <div className="novedad">
                <img className="left" src="https://via.placeholder.com/150" alt=""/>
                <h2>"Arrancamos la temporada verano 2021/2022!!</h2>
                <h3>01-11-2021</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nihil numquam officia dolorem iste animi, praesentium excepturi repellendus, recusandae temporibus illum soluta sunt! Facere quia ab ullam fugiat, itaque alias quisquam temporibus ipsum veniam fuga nesciunt! Vitae tenetur libero iste velit debitis ad in autem, fugit vel id, magni dignissimos deserunt quibusdam mollitia laudantium. Reiciendis beatae amet nostrum, nesciunt veritatis harum aliquid eos officia tenetur suscipit aperiam fugiat vel assumenda. Quam iste provident magnam dolorum quibusdam explicabo consequuntur architecto? Reiciendis ipsum cumque harum voluptate iste, ipsam laborum cum mollitia magnam, cupiditate dolore repudiandae consequatur corrupti suscipit reprehenderit totam animi libero?</p>
                <hr/>
            </div>

            <div className="novedad">
                <img className="left" src="https://via.placeholder.com/150" alt=""/>
                <h2>"Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                <h3>05-08-2021</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nihil numquam officia dolorem iste animi, praesentium excepturi repellendus, recusandae temporibus illum soluta sunt! Facere quia ab ullam fugiat, itaque alias quisquam temporibus ipsum veniam fuga nesciunt! Vitae tenetur libero iste velit debitis ad in autem, fugit vel id, magni dignissimos deserunt quibusdam mollitia laudantium. Reiciendis beatae amet nostrum, nesciunt veritatis harum aliquid eos officia tenetur suscipit aperiam fugiat vel assumenda. Quam iste provident magnam dolorum quibusdam explicabo consequuntur architecto? Reiciendis ipsum cumque harum voluptate iste, ipsam laborum cum mollitia magnam, cupiditate dolore repudiandae consequatur corrupti suscipit reprehenderit totam animi libero?</p>
                <hr/>
            </div>