<h1>Ingreso Administrador:</h1>

{{#if conocido}}
<h2>Hola <span class="usuario">{{nombre}}</span></h2>
<a href="/salir">Cerrar Sesion</a>
{{/if}}

{{#unless conocido}}
<h2>Ingrese nombre de Usuario: </h2>
<form action="/ingresar" method="post">
    <input type="text" name="nombre"> <br><br>
    <button>Ingresar</button>
</form>
{{/unless}}