body
{
    background-color:"#edf7ff";
    background-image: linear-gradient(rgba(120, 122, 247, 0.5), rgba(255, 255, 255,0.5)), url("img/background.png");
    background-size: cover;
    padding: 1% 5% 1% 5%;
    font: 14pt/16pt Copperplate;
}

h1{
    color:navy;
}

h2{
    color: midnightblue;
}

h3{
    color:mediumblue;
}

#nombreTD{
    padding-right: 30px;
    text-align: left;
    width: 100%;
}

#contactoTD{
    text-align: right;
    width: 100%;
}

#contactoTD:hover{
    transition: .5s ease;
    font-size: larger;
}

.fotoPerfil {
    position: relative;
    height: 98%;
    overflow: hidden;
}

.fotoPerfil img{
    transition: transform .5s ease;
    display: block;
    width: 100%;
    height: auto;
}

.fotoPerfil:hover img{
    transform: scale(1.1,1.1) rotate(2deg);
    filter: brightness(130%);
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    text-align: center;
}

.fotoPerfil:hover .overlay {
    opacity: 1;
}