body
{
    background-color:"#edf7ff";
    background-image: linear-gradient(rgba(120, 122, 247, 0.5), rgba(255, 255, 255,0.5)), url("img/background.png");
    background-size: cover;
    padding: 1% 5% 1% 5%;
    font: 14pt/16pt Copperplate;
}

h1{
    color:navy;
}

h2{
    color: midnightblue;
}

h3{
    color:mediumblue;
}

.nombre {
 
    
}

.contacto {
    transition: .5s ease;
    position:absolute;
    right:100px;
    top: 75px;
    font-size:xx-large;
}

.contacto:hover{
    transition: .5s ease;
    font-size:3rem;
}

.fotoPerfil {
    transition: transform .5s ease;
    display: inline-block;

    overflow: hidden;
    width: 21%;
}

.fotoPerfil img{
    transition: transform .5s ease;
    width: 100%;
}

.banner{
    transition: transform .5s ease;
    display: inline-block;
    position: absolute;
    width:74%;
}


.fotoPerfil:hover img{
    transform: scale(1.1,1.1) rotate(2deg);
    filter: brightness(130%);
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    text-align: center;
}

.fotoPerfil:hover .overlay {
    opacity: 1;
}