/*
font-family: 'Lora', serif;
font-family: 'Gideon Roman', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Roboto', sans-serif; 
*/

body
{
    background-color:"#edf7ff";
    background-image: linear-gradient(rgba(120, 122, 247, 0.5), rgba(255, 255, 255,0.5)), url("../img/background.png");
    background-size: cover;
    padding: 1% 5% 1% 5%;
    font: 14pt/16pt Copperplate;
    overflow-x: hidden;
}

h1{
    color:navy;
    font-family: 'Lora', serif;
}

h2{
    color: midnightblue;
    font-family: 'Roboto', sans-serif; 
}

h3{
    color:mediumblue;
    font-family: 'Roboto', sans-serif;
    opacity: 0%;
    animation: fadeIn 3s ease 3.6s forwards;
}

ul {
    font-family: 'Lora', serif;
    opacity: 0%;
    animation: fadeIn 3s ease 4.6s forwards;
}

label {
    font-family: 'Gideon Roman', cursive;
}

ol {
    opacity: 0%;
    animation: fadeIn 3s ease 5.2s forwards;
}

p {
    opacity: 0%;
    animation: fadeIn 3s ease 5.8s forwards;
}

.nombre {
    background: linear-gradient(blue, lightblue);
    background: linear-gradient(to bottom, #0f00ea 6%,#380d6d 50%,#3e186d 70%,#2945aa 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    white-space: nowrap;
    animation: slideIn 1s ease;
}

.nombre h1 {
    padding-top: 15px;
    padding-left: 5px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
}

.nombre h2 {
    font-family: 'Gideon Roman', cursive;
    padding-bottom: 5px;
}

.contacto {
    transition: .5s ease;
    position:absolute;
    right:100px;
    top: 75px;
    font-size:x-large;
    cursor: pointer;
    font-family: 'Gideon Roman', cursive;
}

.contacto:hover{
    transition: .5s ease;
    font-size:2.2rem;
}

.containerFotoPerfil {
    transition: transform .5s ease;
    display: inline-block;
    position:static;
    overflow: hidden;
    width: 20%;
    border-radius: 10px 0 0 10px;
    margin-top: 200%;
    animation: slideInBottom 1s ease 1s forwards;
}

.containerFotoPerfil img{
    transition: transform .5s ease;
    width: 100%;
}

.containerFotoPerfil:hover img {
    transform: scale(1.1,1.1) rotate(2deg);
    filter: brightness(130%);
}

.containerBanner{
    display: inline-block;
    position:absolute;
    width:70%;
    margin-left: 100%;
    animation: slideIn 1s ease 2s forwards;
}

.containerBanner img{
    width: 100%;
    border-radius: 0 10px 10px 0;
    animation: slideIn 2s ease ;
}

.estrellas {
    padding-bottom: 10px;
    color:blue;
    font-size: 1rem;
}


/*Dispositivos Moviles*/
@media only screen and (max-width: 600px) {
    body {
        font: 10pt/12pt Copperplate;
    }

    .nombre h1 {
        font-size: 35px;
    }

    .containerBanner {
        display: none;
}
    .containerBanner img{
        /*display: none;*/
        width: 100%;
        height: 68%;
        object-fit: cover;
}

    .containerFotoPerfil {
        width: 50%;
    }

    .contacto {
        position: static;
        margin: 10px;
    }

}

/*Animaciones*/
@keyframes slideIn {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0%;
    }
}

@keyframes slideInBottom {
    from {
        margin-top: 100%;
    }

    to {
        margin-top: 0%;
    }
}

@keyframes fadeIn{
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}