div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    flex-direction:row-reverse;
}

.item {
    width: 200px;
    height: 200px;
    color: white;
}

.uno {
    background-color: red;
}

.dos {
    background-color: blue;
}

.tres {
    background-color: green;
}